<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helloandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
	<!-- GCM connect to internet services -->
    <uses-permission  android:name="android.permission.INTERNET"/>
    <!-- GCM requires google account -->
    <uses-permission  android:name="android.permission.GET_ACCOUNTS"/>
    <!-- keeps mobile awake when message arrives -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    
    <permission android:name="com.example.helloandroid.permission.C2D_MESSAGE"
        		android:protectionLevel="signature" />
    <uses-permission android:name="com.example.helloandroid.permission.C2D_MESSAGE"/>
    
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission  android:name="android.permission.VIBRATE"/>
    

    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.helloandroid.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
 
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
 
                <category android:name="com.example.helloandroid" />
            </intent-filter>
        </receiver>
        
    </application>

</manifest>
